/* css Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  color:rgb(238, 238, 238);  
}

header{
    background-color: #474747;
    height: 100px;
    width: 100%;
    padding-top: 35px;    
}

img{
    height: 30px;
    width: 280;
    
}

.container-grid{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
}