

   @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

/* css Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  color:rgb(238, 238, 238);  
}

header{
    background-color: #474747;
    height: 100px;
    width: 100%;
    padding-top: 35px;    
}

img{
    height: 30px;
    width: 280;
    
}

.container-grid{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:"inter";   
}

.menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.icone-menu {
    height: 40px;
}
#bars{
    display: none;
}
.banner{
    height: 820px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.conteudo-banner h1{
    color: white;    
    font-family: "Inter";
    font-size: 90px;
    text-indent: -200px;
    

}
.conteudo-banner h2{
    color: white;    
    font-family: "Inter";
    font-size: 90px;
    text-indent: -395px;
    
}
.conteudo-banner h3{
    color: white;    
    font-family: "Inter";
    font-size: 90px;
    text-indent: -230px;
}    

.conteudo-banner a{
    padding: 10px;
    background-color: red ;
    color: white;    
    font-family: "inter";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 5px;
}
.conteudo-banner{
    width: 460px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.posicionamento-banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

}
.jogos{
    background-color: black;
    height: 120px;
}

.posicionamento-jogos{
    height: 100%;
}

.container{
    max-width: 1600px;
} 

.logo-jogo{
    height: 65px;
    width: 130px;
}
 
.f122{
    height: 55px;
    width: 240px; 
}

.dcs-world{
    height: 72px;
    width: 160px;
}

.cityz{
    height: 84px;
    width: 118px;
}

.war{
    height: 90px;
    width: 160px;
}

@media screen and (max-width: 1450px){
    .container-grid{
        width: 1100px;
    }
}

@media screen and (max-width: 1100px){
    .container-grid{
        width: 900px;
    }
}